/dist
/tmp
/out-tsc
.grunt

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Dependency directories
node_modules/
jspm_packages/

# System Files
.DS_Store
Thumbs.db